<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
	<link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>

	@RenderBody()

	@Scripts.Render("~/bundles/jquery")
	@*Scripts.Render("~/bundles/bootstrap")
		@RenderSection("scripts", required: false)*@
	<!--<script type="text/javascript" src="~/Scripts/custom.js"></script>-->
	<script type="text/javascript" src="~/Scripts/caster.js"></script>
</body>
</html>
