@model online_spell_game.Models.Caster

<div class="caster" id="caster-@Model.num">
	<div class="caster-photo">
		<img src="~/Content/Images/54933055.png" alt="" />
	</div>
	<div class="caster-label">
		<div class="caster-ac">
			<span class="Pajzs">
				<span class="PajzsLeft"></span>
				<span class="PajzsMiddle">
					@Model.ac
				</span>
				<span class="PajzsRight">
				</span>
				<span class="PajzsBottom">
				</span>
			</span>
		</div>
		<div class="caster-name">
			<h2 class="player@(Model.num)">Player @Model.num</h2>
		</div>
		<div class="bar-container">
			<div class="bar health-bar" data-total="@Model.hp" data-value="@Model.hp">
				<div class="bar-inner">
					<div class="hit"></div>
				</div>
			</div>
			<div class="bar-number">
				<span class="curr-hp">@Model.hp</span><span class="total-hp" data-hp="@Model.hp">/@Model.hp</span>
			</div>
		</div>
		<div class="bar-container">
			<div class="bar mana-bar" data-total="@Model.mana" data-value="@Model.mana">
				<div class="bar-inner">
					<div class="hit"></div>
				</div>
			</div>
			<div class="bar-number">
				<span class="curr-mana">@Model.mana</span><span class="total-mana">/@Model.mana</span>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>